<%- include partials/header.ejs %>

<div class="ui main container segment">

  <% blogs.forEach(function(blog){ %>
  	<h2><%= blog.title %></h2>
  	<img class="ui image" src="<%= blog.image %>">
  	<p><%= blog.body.substring(0,100) %>...</p>
    <a href="/blogs/<%=blog.id%>">Read More</a>
  	<p><em><%= blog.created %></em></p>
  <% }); %>

</div>

<%- include partials/footer.ejs %>